h1, p{
    color: blueviolet;
}

@media screen and (max-width: 768px){
    h1, p{
        color: aqua;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    h1, p{
        color: rgb(83, 151, 172);
    }
}